﻿
.textboxes{
	font-family: 'Open Sans';
	font-size: 20px;
	color: #000;
	padding:12px 10px 11px 57px;
	background-color: #fdfdfd;
	width: 255px;
	/*display: block;*/
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
	font-weight:bold;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/headerback2.jpg) no-repeat center center;
    
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}

.intro-divider {
    /*width: 400px;*/
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
.list-inline{padding-left:0;margin-left:-5px;list-style:none}
.list-inline>li{display:inline-block;padding-right:5px;padding-left:5px}
dl{margin-top:0;margin-bottom:20px}dd,dt{line-height:1.42857143}
dt{font-weight:700}dd{margin-left:0}@media (min-width:768px)
{.dl-horizontal 
dt{float:left;width:160px;overflow:hidden;clear:left;
text-align:right;text-overflow:ellipsis;white-space:nowrap}
.dl-horizontal dd{margin-left:180px}}
abbr[data-original-title],abbr[title]{cursor:help;border-bottom:1px dotted #777}




.info-box {
	background:#ffffff;
	border:1px solid #c9c9c9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	margin-bottom: 30px;
}

.stats-box {
	margin:40px 0px;
	color:#5f5f5f;
}

.breadcrumb {background: #9bc001; border: 1px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 15px;}
.breadcrumb a {color: #000;}
.breadcrumb a:hover {color: #fff;}
.breadcrumb>.active {color: rgba(0, 0, 0, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\00bb\00a0";}
