﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="repeaterPagging.aspx.cs" Inherits="demo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <asp:Repeater id="repeater1" runat="server" >
		<ItemTemplate>
		<%# DataBinder.Eval(Container.DataItem, "RestaurantId")%> &nbsp;&nbsp;
		<%# DataBinder.Eval(Container.DataItem, "RestaurantName")%> <br />
		</ItemTemplate>
		<SeparatorTemplate>
		<hr>
		</SeparatorTemplate>
		</asp:Repeater>
	</div>
		<input id="txtHidden" style="width: 28px" type="hidden" value="0"
		runat="server" />
		<hr>
		<asp:LinkButton ID="lnkBtnPrev" runat="server" Font-Underline="False"
		OnClick="lnkBtnPrev_Click" Font-Bold="True"><< Prev </asp:LinkButton>
		&nbsp;&nbsp;
		<asp:LinkButton ID="lnkBtnNext" runat="server" Font-Underline="False"
		OnClick="lnkBtnNext_Click" Font-Bold="True">Next >></asp:LinkButton>
	</form>
</body>
</asp:Content>

