﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Review.aspx.cs" Inherits="Review" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link type="text/css" rel="stylesheet" href="Rating/style.css" />
    <script type="text/javascript" src="Rating/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="Rating/jquery.rater.js"></script>
    
    <script type="text/javascript">
        $(function () 
        {
            $('#testRater').rater({ postHref: 'Rating.aspx' });


            

//            if (testRater == 0) 
//            {
//              //testRater.style.display = 'none';
//            }
//            else 
//            {
//                testRater.style.display = 'none';
//            }
        });

//         $('#testRater').click(function() {
        //        $("#testSpan").hide();

        

     </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="testRater" class="stat">
		<label for="rating">Rating</label>
		<div class="statVal">
			<span class="ui-rater">
				<span class="ui-rater-starsOff" style="width:90px;">
                
                <span class="ui-rater-starsOn" runat="server" id="testSpan"></span>
                </span>
			</span>
        </div>
    </div>
Comment :<br />
    <asp:TextBox ID="txtcomment" runat="server" TextMode="MultiLine"></asp:TextBox>
<br />
<asp:Button ID="btnsumbit" runat="server" Text="Submit" onclick="btnsumbit_Click" />
    </form>
</body>
</html>
