﻿<%@ Page Title="" Language="C#" MasterPageFile="~/fp/AdminMasterPage.master" AutoEventWireup="true" CodeFile="OrderCancel.aspx.cs" Inherits="fp_SelectTodayOrderUserCancel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<link rel="stylesheet" href="../RestoLogin/Calender/style.css" >
<script type="text/javascript" src="../RestoLogin/Calender/jquery.min.js"></script>
	<script type="text/javascript" src="../RestoLogin/Calender/jquery-ui.min.js"></script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <asp:LinkButton ID="lnkback" runat="server" PostBackUrl="~/fp/DashBoard.aspx">Back</asp:LinkButton>

  Cancel Order
   From :  <asp:TextBox ID="txttoday" runat="server" class="datepicker" ></asp:TextBox>
    To :        <asp:TextBox ID="txtfrom" runat="server" class="datepicker" ></asp:TextBox>
    <asp:Button ID="btnsee" runat="server" Text="Show" onclick="btnsee_Click" />
  
  
  
     <asp:Repeater ID="rpttodayorders" runat="server" 
        onitemdatabound="rpttodayorders_ItemDataBound" 
        onitemcommand="rpttodayorders_ItemCommand" >
                <ItemTemplate>
                
                 <table>
                <tr>
                    <td>
             
                <li class="from_user left"> <a href="#" class="avatar">
                  <div class="message_wrap"> <span class="arrow"></span>
                    <div class="info">

<%--<span class="time date"><a href="OrdersDetails.aspx?Orderid=<%#Eval("OrderId") %>">View Details</a></span>
--%>
                    </div>

<div class="text comments">
<a class="name "><asp:Label ID="lblRestaurantId"  runat="server" Visible="false" Text='<%#Eval("RestaurantId") %>'></asp:Label></a>
 <asp:Label ID="lblRestaurantName" runat="server" Text='<%#Eval("RestaurantName") %>' ></asp:Label>
<asp:Label ID="lblOrders" runat="server" Text='<%#Eval("Orders") %>' ></asp:Label>
<asp:Label ID="lblAmount" runat="server" Text='<%#Eval("Amount") %>' ></asp:Label>
<asp:Label ID="lblDeliveryCharges" runat="server" Visible="false" Text='<%#Eval("DeliveryCharges") %>'></asp:Label>
<%--<a href="RestaurantOrderDetails.aspx?Key=<%#Eval("RestaurantId") %>">View Details</a>--%>
    <asp:LinkButton ID="lnkviewdetails" runat="server" CommandArgument='<%#Bind("RestaurantId")%>'>View Details</asp:LinkButton>
</div>


                  </div>
                </li>
                  
                     </td>
                </tr>
            </table>
          
                </ItemTemplate>
                
                </asp:Repeater>
    
             <h1 style="margin-left:700px">Total : <asp:Label ID="lblalltotal" runat="server"></asp:Label></h1>



<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>

</asp:Content>



