﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="demo.aspx.cs" Inherits="demo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title></title>

<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<%--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
--%>
<script src="mv-autocomplete.js" type="text/javascript"></script>
<link href="mv-autocomplete.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function Go() {
            alert(hdnSelectedCity.value);
            alert(hdnSelectedCityArea.value);
            window.location = "Default.aspx?cityid='" + hdnSelectedCity.value + "'&areaid='" + hdnSelectedCityArea.value + "'";
        }
    </script>          
</head>
<body>
   

        <input id="hdnSelectedCity" class="form-control" type="hidden" />
         <input id="hdnSelectedCityArea" class="form-control" type="hidden" />
        

        <input id="txtCity" type="text" class="form-control" placeholder="From Data Object..." data-object />  <br>
        <input id="txtArea" type="text" class="form-control" placeholder="From Data Object..." data-object />
        <input type="button" value="View IDs" id="btnCheckID" onclick="Go()" />





        <script>

            var countries = "Manoj";


            $('#txtCity').mvAutocomplete({
                data: countries,
                container_class: 'results',
                result_class: 'result',
                url: '../WebService.asmx/GetMyCity',
                loading_html: 'Loading...',
                callback: function (el, selected) {
                    console.log('Click Back!');
                    document.getElementById('hdnSelectedCity').value = selected.split("|")[1];
                }
            });

            $('#txtArea').mvAutocomplete({
                data: countries,
                container_class: 'results',
                result_class: 'result',
                url: '../WebService.asmx/GetMyArea',
                loading_html: 'Loading...',
                post_data: {
                    cityid: function () { return document.getElementById('hdnSelectedCity').value; }
                },
                callback: function (el, selected) {
                    console.log('Click Back!');
                    document.getElementById('hdnSelectedCityArea').value = selected.split("|")[1];
                }
            });


        </script>



</body>
</html>
