input {
	padding:5px 10px;
}

.results {
	background-color:#fff;
	border:1px solid #ddd;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
	font-family: 'Lato', sans-serif;
	font-size:14px;
	padding:2px 4px;
	font-weight:bold;
}

.result {
	padding:3px 76px;
	cursor:pointer;
}

.result.active,
.result.active:active {
	background-color:#5897fb;
	color:#fff;
}