.ownertitle
{

	text-align:left;
	font-size:25px;
	color:#004500;
	font-family:Arial;
	font-weight:bold;
}
.ownerCategory
{

	text-align:left;
	font-size:12px;
	color:Green;
	font-family:Arial;
	font-weight:bold;
}
.ownerimage {
	text-align:left;
	
}
.ownerimage img
{
    border:1px solid green;
padding:10px;
}
.menucategory
{
    font-size:15px;
    color:green;
    font-weight:bold;
    text-align:left;
    }

.menucategory ul
{
    float:left;
    list-style-type:none; 
    
}
.menucategory li
{   
	
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px dotted #CCC;
  list-style-type:none; 
}

.menuItemCatHead
{   

    font-size:25px;
    color:#004500;
    font-weight:bold;
    text-align:center;
     width:100%;
     margin-bottom:5px;

}

.menuItemCatrow 
{
  width:100%;
}
.menuItemCatrow img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
  border:none;
}

.menuItem
{
  width:100%;
  border:1px solid #000;
  display:block;

}
.menuItemName
{
  color:#000;
  font-size:20px;
  margin-top:10px;
  border-bottom: 1px dotted #CCC;
}
.menuItemPrice
{
   color:#000;
   font-size:20px;
   text-align:right;
   margin-top:10px;

}
.addtocartbut
{
   color:#000;
   font-size:20px;
   text-align:right;
   margin-top:10px; 
    }
    
.addtocarItemname
{
color:Black;
font-size:15px;
text-decoration:none;
text-align:left;
}

.menuCartItemTotal
{
color:Black;
font-size:15px;
}

.addtocartheaders
{

color:#000;
font-weight:bold;
font-size:15px;
height:40px;
    
border-radius: 8px;
    
background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fafafa 0%, #e9e9e9 100%) repeat scroll 0 0;
color: #444;
font-size: 10px;
text-transform: uppercase;
    
    
}
.addtocartheaders th
{
border:0; 
} 
.addtocartRow
{
background-color:#FFFFFF;
color:Black;
font-size:12px;
text-align:left; 
   
}
        
        
.addtocartAlternateRow
{
color:Black;
font-size:12px;
font-style:normal;
}
   
   
    
#faq-number {
	width: 25px;
	height: 25px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background: #00ba8b;
	border: 3px solid #FFF;
	border-radius: 100px;

	
}



.review
{
color:Black;
font-size:15px;
    }

.date
{
color:Maroon;
font-size:20px;
    }

.widget-header2 {
	
	position: relative;
	
	line-height: 40px;
	
	background: #f9f6f1;
	background:-moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6f1), color-stop(100%,#f2efea)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* IE10+ */
	background:linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
	
	
	border: 1px solid #d6d6d6;
	
	
	-webkit-background-clip: padding-box;
}



/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar2 {
    	margin-bottom: 2.5em;
    }
    
.subnavbar-inner2 {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container2 > ul {
	display: inline-block;
	
	height: 80px;
	padding: 0;
	margin: 0;
	
}

.subnavbar2 .container2  {
	float: left;
	
	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;
	
	text-align: center;
	list-style: none;
	
	border-left: 1px solid #d9d9d9;
	
	
}


.subnavbar2 .container2 .middlebox  
{
    
 
    text-align:center;
    margin-left:100px;
    margin-top:20px;
}

.path {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    padding: 20px 15px 15px;
    color:Black;
    font-size:20px;
    margin-bottom:5px;
}
#arrow
{
    background-image:url("../../img/arrow.png");
    background:"../../img/arrow.png";
    }




.Grid td
{
 
    margin: 3px 3px 3px 3px;
    font-family: Arial;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border:0;
}
.minimumorder
{
     font-family: Arial;
     color:Red;
     font-size:15px;
    
    }
    
.owneraddress
{
    font-size:15px;
    color:Gray;
    font-weight:bold;
    text-align:left;
    }
    
    
.infotext {
    color: #004500;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
}


.head {
    color: #004500;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    font-weight:bold;
}