﻿
.head {
    color: Green;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    float:left;
}

.infohead {
	text-align:right;
	font-size:10px;
	color:#004500;
	font-family:Arial;
	float:left;
}

.menuItemName
{
  color:#000;
  font-size:12px;
  margin-top:10px;
  border-bottom: 1px dotted #CCC;
}
.menuItemPrice
{
   color:#000;
   font-size:12px;
   text-align:right;
   margin-top:10px;

}
.addtocartbut
{
   color:#000;
   font-size:12px;
   text-align:right;
   margin-top:10px; 
    }