/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



.ownerimage {
	text-align:left;
}
.restopanal {
	text-align:left;
	font-size:10px;
	margin-top:20px;
	margin-bottom: 40px;
	border:1px solid gray;
	padding:10px;
}


.info {
	text-align:left;
	font-size:15px;
	color:Black;
	
}
.menubutton
{
text-align:left;
	font-size:15px;
	color:Black;

    }
    

.chkrestoCat
{

    font-size:14px;
    color:#333333;
width:200px;
margin-left:10px;
}
.chkrestoCat input
{
    float:left;
    clear:both;
    
}