﻿.restopanal {
    border: 1px solid #9bc001;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}

.head {
    color: #004500;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    font-weight:bold;
}

.normaltext{
    color: #004500;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    font-weight:bold;
}

