﻿
.col-md-9 {
    width: 75%;
     float: left;
}
.cart-items {
    margin-right: 5%;
    width: 60%;
}
.col-md-3 {
    width: 25%;
     float: left;
         min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}



.instagram_top {
    background: #eaeaea none repeat scroll 0 0;
    padding: 3em 0;
}
.instagram h3 {
    color: #333;
    font-family: "Audiowide",cursive;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 1em;
}
i.insta_icon {
    background: rgba(0, 0, 0, 0) url("../images/img-sprite.png") no-repeat scroll -101px -52px;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    width: 35px;
}
span.small {
    color: #333;
    font-size: 20px;
}
a.continue {
    background: #CF0A2C none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
a.deliveryaddress {
    background: #CF0A2C none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.cart-items h1 {
    font-size: 1.5em;
    color:#000;
}
.cart-item-info h3 {
    font-size: 1em;
    font-weight: 600;
}
.price-details {
    border-bottom: 1px solid #ddd9d9;
    padding-bottom: 10px;
}
.price-details h3 {
    color: #000;
    font-size: 1.1em;
    margin-bottom: 1em;
}
/*.price-details span {
    color: #000;
    float: left;
    font-size: 0.8125em;
    line-height: 1.8em;
    width: 50%;
}
*/
ul.total_price {
    list-style: outside none none;
    margin: 1em 0 0;
    padding: 0;
}
ul.total_price li.last_price {
    float: left;
    width: 50%;
}
.order {
    background: #7901fb none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin: 3em 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

}
.total-item {
    margin-top: 2em;
    padding-bottom: 2em;
}
.total-item h3 {
    color: #333;
    font-size: 1em;
    margin-bottom: 1em;
}
.total-item h4 {
    color: #9c9c9c;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 10%;
}
a.cpns {
    background: #df4782 none repeat scroll 0 0;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px;
}
.total-item p {
    color: #727272;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 1em;
}


.subnavbar2 {
    	margin-bottom: 2.5em;
    }
    
.subnavbar-inner2 {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container2 > ul {
	display: inline-block;
	
	height: 80px;
	padding: 0;
	margin: 0;
	
}

.subnavbar2 .container2  {
	float: left;
	
	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;
	
	text-align: center;
	list-style: none;
	
	border-left: 1px solid #d9d9d9;
	
	
}


.subnavbar2 .container2 .middlebox  
{
    
 
    text-align:center;
    margin-left:100px;
    margin-top:20px;
}
.ownertitle
{

	text-align:left;
	font-size:25px;
	color:#004500;
	font-family:Arial;
	font-weight:bold;
}    



.head {
    color: #004500;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    font-weight:bold;
}
.Grid
{
    width:100%;
}
.Grid td
{
 
    margin: 3px 3px 3px 3px;
    font-family: Arial;
    text-align: left;
    padding: 8px;
    border:0;

}

.Grid tr
{
    border:0;
}

.addtocartbut
{
   color:#000;
   font-size:20px;
   text-align:right;
   margin-top:10px; 
    }
    
.addtocarItemname
{
color:#000;
font-size:15px;
text-decoration:none;
text-align:left;
font-family:Arial;
font-weight:bold;

}

.menuCartItemTotal
{
color:Black;
font-size:15px;
}

.addtocartheaders
{

color:#004500;
font-weight:bold;
font-size:15px;
height:40px;
    
border-radius: 8px;
    
background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fafafa 0%, #e9e9e9 100%) repeat scroll 0 0;
font-size: 20px;
text-align:left;
  
    
}
.addtocartheaders th
{
border:0; 

} 
.addtocartRow
{
background-color:#FFFFFF;
color:Black;
font-size:12px;
text-align:left; 
   
}
        
        
.addtocartAlternateRow
{
color:Black;
font-size:12px;
font-style:normal;
}
.minimumorder
{
     font-family: Arial;
     color:Red;
     font-size:15px;
    
    }
    
    .registration_form {
    display: block;
}

.registration_form div {
    padding: 10px 0;
}

label {
    display: block;
    font-weight: normal;
    margin-bottom: 0;
}
.cart-header {
    position: relative;
}
.cart-sec {
    margin-bottom: 3em;
}

.textboxcheckout
{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgb(231, 231, 231);
    color: #333333;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 0.8925em;
    font-weight: normal;
    outline: medium none;
    padding: 8px;
    width: 90%;
}
.middle
{margin-left:30px;
 margin-right:30px;
    }
    
  