﻿

.bg-content {
    background: rgba(0, 0, 0, 0) url("../../img/bg-content.jpg") repeat scroll 50% 50%;
}


.thumbnails-1 {
  margin: 0;
  list-style: outside none;
}
.thumbnails-1 > li {
  margin-bottom: 40px;
}
.thumbnails-1 .thumbnail-1 {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  line-height: 20px;
}
.thumbnails-1 .thumbnail-1 section {
  padding-top: 25px;
}
.thumbnails-1 .thumbnail-1 section strong {
  color: #ffffff;
  font-weight: normal;
}
.border-horiz {
  background: url(../../img/border-horiz.gif) repeat-x 0 0;
  height: 2px;
  margin: 16px 0 0;
}
.border-horiz.extra {
  margin-bottom: 10px;
}
.txt-1 {
  color: #ffffff;
  padding: 3px 0 10px;
}



.list-services .thumbnail-1 {
  background: #004500;
  padding: 10px;
}
.list-services a {
  margin-bottom: 10px;
  display: inline-block;
}
.list-services p {
  padding-bottom: 20px;
  color:White;
}
.list-services section {
  padding: 0 20px;
}
.list-services li {
  margin-bottom: 30px;
}


#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
 /* background: #242a33 url(../../img/cta2-bg.jpg) no-repeat 50% 50%;*/
 background-color:#CF0A2C;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}

#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}

#cta2 h2 > span {
  color: #45aed6;
}

img {
    border: 0 none;
}


img {
    vertical-align: middle;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}



.services{
	background:#fff;
	padding:5em 0;
}

h2.service_head{
	color: #373742;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 2em;
}
h2.service_head {
	font-size: 1.5em;
	margin-bottom: 1em;
}
h3.m_1{
	margin:1em 0 0.5em;
}
h3.m_1 a{
	color:#1e1e24;
	font-size:0.7em;
	text-transform:uppercase;
	text-decoration:none;
}
h3.m_1 a:hover{
	color:#555;
}
p.m_2{
	font-size:0.8125em;
	line-height:1.8em;
	color: #1E1E24;
}
.col-md-3 {
    width: 25%;
    float:left;
}

i.icon1 {
    background: rgba(0, 0, 0, 0) url("../../img/step.png") repeat scroll -173px -7px;
    display: inline-block;
    height: 145px;
    width: 145px;
}
i.icon2 {
    background: rgba(0, 0, 0, 0) url("../../img/step.png") repeat scroll -337px -7px;
    display: inline-block;
    height: 145px;
    width: 145px;
}
i.icon3 {
    background: rgba(0, 0, 0, 0) url("../../img/step.png") repeat scroll -172px -158px;
    display: inline-block;
    height: 145px;
    width: 145px;
}
i.icon4 {
    background: rgba(0, 0, 0, 0) url("../../img/step.png") repeat scroll -336px -155px;
    display: inline-block;
    height: 145px;
    width: 145px;
}



#owl .item {
	float: left;
}


.grid_4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;

}
.cwrap {
	width: 300px;
	height: 300px;
	margin-bottom: 4px;

}
.circle {
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 100%;
	border-radius: 50%;
-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.65) inset, 0 1px 2px rgba(0, 0, 0, 0.1)
}

.circle.c1 {
	background: url(../../img/feature1.jpg) 0 0 no-repeat;
}

.circle.c2 {
	background: url(../../img/feature2.jpg) 0 0 no-repeat;

}

.circle.c3 {
	background: url(../../img/feature3.jpg) 0 0 no-repeat;
}

.circle:hover{
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.circle.c3:hover  {
	box-shadow: none !important;
}


.circle:hover .info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1) ;
	transform: scale(1);
}


.circle:after, .circle:before {
    content: "";
    display: table;
}



.info {
	overflow: hidden;
	color: #fff;
	font-size: 12px;
	text-align: center;
	   background: url(../../img/info_bg.png) 0 0 repeat;
    border-radius: 50% 50% 50% 50%;
    height: inherit;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;bg
    -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transform: scale(0);
    -webkit-transition: ;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition:all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    width: inherit;
}

.info .title {
	padding-bottom: 39px;
	border-bottom: 1px solid #fff;
	font: 36px/44px 'Dosis', sans-serif;
	margin: 0 35px 18px;
	padding-top: 57px;
	text-transform: uppercase;
}

.info  a {
	text-transform: uppercase;
	display: inline-block;
	color: #d1cfcf;
	margin-top: 9px;
}

.info a:hover {
	color: #ec0606;
}



#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
.section-header {
    margin-bottom: 50px;
}
.section-header .section-title::before {
    background: #ebebeb none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    width: 140px;
}
.section-header .section-title::after {
    background: #45aed6 none repeat scroll 0 0;
    border: 5px solid #fff;
    border-radius: 20px;
    bottom: -11px;
    content: "";
    height: 24px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 24px;
}
.section-header .section-title {
    color: #272727;
    font-size: 44px;
    margin: 0 0 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
