﻿.restopanal {
    border: 1px solid #9bc001;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}
.ownerimage {
    float: left;
    text-align: left;
}

.ownertitle {
    color: #004500;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
}

.infohead {
    color: #004500;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
}
.ownertitle {
    text-align:left;
	font-size:15px;
	color:#004500;
	font-family:Arial;
}
.menubutton
{
text-align:left;
	font-size:15px;
	color:Black;

    }
    .btn-success {
    background-color: #7eb216;
    background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}