/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



.ownerimage {
	text-align:left;
	float:left;
}
.ownerimage img{
padding:10px;
float:left;
}
.restopanal {
	text-align:left;
	font-size:10px;
	margin-top:10px;
	margin-bottom: 20px;
	border:1px solid #9BC001;
	padding:10px;
}

.ownertitle {
    text-align:left;
	font-size:15px;
	color:#004500;
	font-family:Arial;
}
.infohead {
	text-align:left;
	font-size:10px;
	color:#004500;
	font-family:Arial;
}
.menubutton
{
text-align:left;
	font-size:15px;
	color:Black;

    }
    



.subnavbar2 {
    	margin-bottom: 2.5em;
    }
    
.subnavbar-inner2 {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container2 > ul {
	display: inline-block;
	
	height: 80px;
	padding: 0;
	margin: 0;
	
}

.subnavbar2 .container2  {
	float: left;
	
	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;
	
	text-align: center;
	list-style: none;
	
	border-left: 1px solid #d9d9d9;
	
	
}

.subnavbar2 .container2 .middlebox  
{
    
 
    text-align:center;
    margin-left:100px;
    margin-top:20px;
}



.chkrestoCat input{
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}



.chkrestoCat input[type=checkbox]:not(:checked) + label
{
padding-left:21px;
height:16px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
vertical-align:middle;
cursor:pointer;
background-image:url(../../img/uncheck.png);
font-weight:bold;
color:#004500;
font-size:14px;
}


.chkrestoCat input[type=checkbox]:checked + label
{
padding-left:21px;
height:16px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
vertical-align:middle;
cursor:pointer;
background-image:url(../../img/check.png);
font-weight:bold;
color:#004500;
font-size:14px;
}










