﻿

<frameset rows="2%,80%,2%">
<!--   <frame name="top"  src="Chat.aspx"/>
   <frame name="main" src="RecentOrder.aspx" />
   <frame name="bottom"  />-->

     <frame name="top" src="Chat2.aspx"/>
   <frame name="main" src="RecentOrder.aspx" />
   <frame name="bottom"  />


   <noframes>
   <body>
      Your browser does not support frames.
   </body>
   </noframes>
</frameset>

