﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%--<!DOCTYPE html>--%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
   <title>Food Pune</title>
   <link rel="shortcut icon" href="../img/Icon.png" type="image/png">
   
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="css/font-awesome.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet">
     <link href="css/myy.css" rel="stylesheet">


     <script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/base.js"></script>

    <script src="../Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.signalR-1.0.0-rc1.js" type="text/javascript"></script>
    <script src="../signalr/hubs" type="text/javascript"></script>


    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">

    <div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" >
				Want Foods				
			</a>	
			<div class="nav-collapse">
				<ul class="nav pull-right">
			
					<li class="dropdown">						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i> 
							food pune 
                            <asp:Label ID="lblnewordercount" Font-Bold="true" runat="server"></asp:Label>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
                         <li><asp:LinkButton ID="lnkhome" runat="server" PostBackUrl="~/RestoLogin/Chat.aspx">Home</asp:LinkButton></li>
                          <li><asp:LinkButton ID="lnkneworder" runat="server" PostBackUrl="~/RestoLogin/NewOrder.aspx">New Orders</asp:LinkButton></li>
                          <li><asp:LinkButton ID="lnkorders" runat="server" PostBackUrl="~/RestoLogin/RecentOrder.aspx">RecentOrders</asp:LinkButton></li> 
                          <li><asp:LinkButton ID="lnkLaterOrder" runat="server" PostBackUrl="~/RestoLogin/LaterOrder.aspx">LaterOrder</asp:LinkButton></li>
                          <li><asp:LinkButton ID="lnkorderhistory" runat="server" PostBackUrl="~/RestoLogin/OrderHistory.aspx">Orders History</asp:LinkButton></li> 
						   <li><asp:LinkButton ID="lnkmenu" runat="server" PostBackUrl="~/RestoLogin/Menu.aspx">Menu Setting</asp:LinkButton></li>
                            <li><asp:LinkButton ID="lnkmyprofile" runat="server" PostBackUrl="~/RestoLogin/MyProfile.aspx">My Profile</asp:LinkButton></li>
							<li><asp:LinkButton ID="lnklogout" runat="server" onclick="lnklogout_Click">Log Out</asp:LinkButton></li>
						</ul>						
					</li>
				</ul>
			

				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
    

 
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>




      
 
<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">


            </div> <!-- /row -->

		</div> <!-- /container -->

	</div> 

</div> <!-- /extra -->




    
    
<div class="footer" >
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				&copy; <a href="http://www.kpalms.net/"  target="_blank">www.kpalms.net</a>.
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
		</div> <!-- /container -->
		
	</div> <!-- /footer-inner -->
	
</div> <!-- /footer -->
    



    </form>
</body>
</html>
