﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MyActivity.aspx.cs" Inherits="User_MyActivity" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <asp:LinkButton ID="lbtnOrders" runat="server" onclick="lbtnOrders_Click">Orders</asp:LinkButton><br/>
    <asp:LinkButton ID="lbtnAddress" runat="server" onclick="lbtnAddress_Click">Address</asp:LinkButton><br/>
    <asp:LinkButton ID="lbtnReviews" runat="server" onclick="lbtnReviews_Click">Reviews</asp:LinkButton><br/>
    <asp:LinkButton ID="lbtnFavorites" runat="server" onclick="lbtnFavorites_Click">Favorites</asp:LinkButton><br/>

    <script src="../js/jquery-1.7.2.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/base.js"></script>
</asp:Content>

